*{
    box-sizing: border-box;
    color: #e1e1e1;
}

@font-face {
    font-family: "MuseoSansRounded100"; 
    src: url("font/MuseoSansRounded100.otf") format("opentype"); 
    } 





body{
    background: rgb(102,61,151);
    background: url(imag/bagraund.png)  no-repeat 0 0 / cover;
}


main{
    width: 685px;
    height: 390px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #111a28;
    border-radius: 9px;
    position: relative;
}

.logo {
    top: 24px;
    left: 21px;
    position: absolute;
}

.main-content{
    width: 620px;

    position: absolute;
    top: 73px;
    left: 36px;

    display: flex;
    justify-content: space-between;

}


.image__pic{
    margin-top: 52px;
    margin-bottom: 67px;
}

.image__slider{
    margin-left:140px;
}

/* Кнопка */
.buttons {
    width: 80px;
    margin-left: 136px;

    display: flex;
    justify-content: space-between;
   
}

.button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    outline: none;
}

.button:hover {
    transform: scaleY(1.7) scaleX(1.2);
    border: 2px solid #7b8088;
    outline: none;
    cursor: pointer;
}

.button-black {
    background-color: #1f273f;
}
.button-white {
    background-color: #fff;
}
.button-red {
    background-color: #ed3333;
}
.button-aqua {
    background-color: #29e3ea;
}

.sidebar{
    font-family: "MuseoSansRounded100";
    position: absolute;
    top: 73px;
    left: 444px;
    width: 234px;

}

.sidebar__title{
    font-size: 24px;
}

.sidebar__subtitle{
    font-size: 14px;
    margin-top: 5px;
    width: 181px;
    margin-bottom: 6px;
    color: #5e646d;
}


.sidebar__list{
    margin-top: 45px;
}

.sidebar__form{
    display: inline-block;
    
    
}

.form__select{
    width: 69px;
    height: 32px;
    color: #5e646d;
    background-color:#111a28;
    border: 1px #4f5560 solid;
    outline: none;
    font-family: "MuseoSansRounded100"; 
    font-size: 14px;
}

.sidebar__button{
    width: 185px;
    height: 39px;
    margin-top: 30px;
    color: #5e646d;
    border: 1px solid #4f5560;
    background-color: #202835;
    outline: #4f5560;
    font-family: "MuseoSansRounded100";
    font-size: 14px; 
    cursor: pointer;
}



/* rating */
.rating {   
    position: absolute;
 
    right: 163px;
    top: 96px;
}

.rating label {
    float: right;
    cursor: pointer;
}

.rating label:not(:first-of-type) {
    padding-right: 1px;
}

.rating label:before {
    content: "\2605";
    font-size: 16px;
    color: #9da1a6;
}

.rating input {
    display: none;
}

.rating input:checked ~ label:before, 
.rating:not(:checked) > label:hover:before, 
.rating:not(:checked) > label:hover ~ label:before {
    color: #f7bf16;
}